html{
  scroll-snap-type: y mandatory; /*This makes the scrolling smooth by just a snap vertically*/
}
.app{
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}
.app__top{
  margin-bottom: -100px;
}
.app__top > h1{
  color: white;
  text-align: center;
}
.app__videos{
  position: relative;
  height: 65vh;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;              /*This makes the scrolling smooth by just a snap vertically*/
  scroll-snap-type: y mandatory; /*This makes the scrolling smooth by just a snap vertically*/
}
.app__videos::-webkit-scrollbar{ /*For chrome, Safari and Brave to hide the navigation scrollbar*/
  display: none;
}
.app__logo{
  height: 12vh;
}
